<%- include('header', {title: container.name}) -%>
<h1><%= container.name %></h1>
<a href="/" class="btn btn-sm btn-secondary"><i class="bi bi-arrow-return-left"></i></a>
<table class="table table-striped table-bordered" style="margin-top: 8px;" aria-describedby="A tárolónk tartalma">
    <tr>
        <th>
            Név
        </th>
        <th>
            Mennyiség
        </th>
        <th>
            Lejárati dátum
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            &nbsp;
        </th>
    </tr>
    <% items.forEach(function(i) { %>
        <tr>
            <td>
                <%= i.name %>
            </td>
            <td>
                <%= `${i.amount} ${i.unit}` %>
            </td>
            <td>
                <%= i.expiryDate %>
            </td>
            <td style="width:50px; white-space: nowrap">
                <a href="/container/<%= container._id %>/edititem/<%= i.id %>" class="btn btn-sm btn-secondary"><i class="bi bi-pen"></i></a>
            </td>
            <td style="width:50px; white-space: nowrap">
                <a href="/container/<%= container._id %>/deleteitem/<%= i.id %>" class="btn btn-sm btn-danger"><i class="bi bi-x-circle"></i></a>
            </td>
        </tr>
    <% }); %>
</table>
<a href="/container/<%= container._id %>/newitem" class="btn btn-sm btn-primary"><i class="bi bi-plus"></i>Új tétel</a>
<%- include('footer') -%>